<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="Sqlite" connectionString="Data Source=E:\Technovert Projects\TaskManager\TaskManager\Data\SQLite\TaskManager.db" providerName="Microsoft.Data.Sqlite"/>
		<add name="SqlServerConnectionString" connectionString="Data Source=NAG-HP\SQLEXPRESS;Initial Catalog=TaskManagerDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>