<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="Sqlite" connectionString="Data Source=E:\Technovert Projects\TaskManager\TaskManager\Data\SQLite\TaskManager.db" providerName="Microsoft.Data.Sqlite"/>
		<add name="SqlServer" connectionString="Data Source=NAG-HP\SQLEXPRESS;Initial Catalog=TaskManagerDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="AzureSql" connectionString="Server=tcp:nbthota.database.windows.net,1433;Initial Catalog=TaskManager;Persist Security Info=False;User ID=taskmanager;Password=Nag@1211;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="Microsoft.EntityFrameworkCore.SqlServer"/>

	</connectionStrings>
</configuration>